.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    padding: 5rem 0;
    position: relative;
    overflow: hidden;
    /* animation: pageFade 0.8s ease-out; */
}
