.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.gnb-wrapper {
  width: 100%;
  background-color: #ffffff;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
