.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  width: 1128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1279px) {
  .content {
    width: 100% !important;
    min-width: 0;
    max-width: 100vw;
    flex-basis: 100%;
    box-sizing: border-box;
    display: block;
  }
}
