.Footer {
    /*부모로서의 설정*/
    display: flex;
    flex-wrap: wrap; /* 요소들이 줄 바꿈되도록 설정 */
    justify-content: center; /* 가운데 정렬 (선택 사항) */
    gap: 30px; /* 요소들 사이 간격 */
    /*자식의 설정*/
    align-items: center;
    text-align: center;

    /*자신 설정*/
    /*margin-bottom: 40px;*/
    background-color: black;
    color: white;
}

.Footer > h1 {
    width: 100%;
    font-size: 45px;
    font-family: InterVariableFont;
    margin: 70px 0 0 0;
}

.Footer > p {
    width: 100%;
    max-width: 1000px;
    line-height: 1.5;
    padding: 0 20px;
}

.Footer > div {
    width: 110px;
    height: 40px;
    background-color: white;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer > div > a {
    text-decoration: none;  /* 밑줄 제거 */
    color: black;  /* 부모 요소의 글자색을 따름 */
    cursor: pointer;  /* 클릭할 수 있음을 나타내는 커서 */
    font-size: 15px;
    font-weight: 450;
}