:root {
    --inter-16-bold-black-font-family: "Inter", Helvetica;
    --inter-16-bold-black-font-size: 16px;
    --inter-16-bold-black-font-style: normal;
    --inter-16-bold-black-font-weight: 700;
    --inter-16-bold-black-letter-spacing: 0px;
    --inter-16-bold-black-line-height: 150%;
    --inter-16-bold-blue-font-family: "Inter", Helvetica;
    --inter-16-bold-blue-font-size: 16px;
    --inter-16-bold-blue-font-style: normal;
    --inter-16-bold-blue-font-weight: 700;
    --inter-16-bold-blue-letter-spacing: 0px;
    --inter-16-bold-blue-line-height: 150%;
    --inter-16-reg-blue-font-family: "Inter", Helvetica;
    --inter-16-reg-blue-font-size: 16px;
    --inter-16-reg-blue-font-style: normal;
    --inter-16-reg-blue-font-weight: 400;
    --inter-16-reg-blue-letter-spacing: 0px;
    --inter-16-reg-blue-line-height: 160.0000023841858%;
    --inter-20-reg-font-family: "Inter", Helvetica;
    --inter-20-reg-font-size: 20px;
    --inter-20-reg-font-style: normal;
    --inter-20-reg-font-weight: 400;
    --inter-20-reg-letter-spacing: 0px;
    --inter-20-reg-line-height: 160.0000023841858%;
    --inter-24-semi-font-family: "Inter", Helvetica;
    --inter-24-semi-font-size: 24px;
    --inter-24-semi-font-style: normal;
    --inter-24-semi-font-weight: 600;
    --inter-24-semi-letter-spacing: 0px;
    --inter-24-semi-line-height: 150%;
    --inter-28-semi-2-font-family: "Inter", Helvetica;
    --inter-28-semi-2-font-size: 28px;
    --inter-28-semi-2-font-style: normal;
    --inter-28-semi-2-font-weight: 600;
    --inter-28-semi-2-letter-spacing: 0px;
    --inter-28-semi-2-line-height: 150%;
    --inter-36-semi-1-font-family: "Inter", Helvetica;
    --inter-36-semi-1-font-size: 36px;
    --inter-36-semi-1-font-style: normal;
    --inter-36-semi-1-font-weight: 600;
    --inter-36-semi-1-letter-spacing: 0px;
    --inter-36-semi-1-line-height: 150%;
    --inter-57-semi-font-family: "Inter", Helvetica;
    --inter-57-semi-font-size: 57px;
    --inter-57-semi-font-style: normal;
    --inter-57-semi-font-weight: 600;
    --inter-57-semi-letter-spacing: 0px;
    --inter-57-semi-line-height: 129.99999523162842%;
    --times-20-reg-font-family: "Times New Roman", Helvetica;
    --times-20-reg-font-size: 20px;
    --times-20-reg-font-style: normal;
    --times-20-reg-font-weight: 400;
    --times-20-reg-letter-spacing: 0px;
    --times-20-reg-line-height: 150%;
  }
  