@import '../pages/styleguide.css';
.gnb-menu {
  display: grid;
  grid-template-columns: repeat(12, 72px);
  justify-content: end;
  gap: 24px;
  width: 1128px;
  padding-top: 60px;
  padding-bottom: 70px;

}
.gnb-wrapper {
  grid-column: -1;
}

.nav-links {
  grid-column: span 12;
  display: flex;
  gap: 24px;
}

.gnb-menu-wrapper {
  width: 80px;
  color: #000000;
  font-family: var(--inter-16-bold-black-font-family);
  font-size: var(--inter-16-bold-black-font-size);
  font-style: var(--inter-16-bold-black-font-style);
  font-weight: var(--inter-16-bold-black-font-weight);
  letter-spacing: var(--inter-16-bold-black-letter-spacing);
  line-height: var(--inter-16-bold-black-line-height);
}

.gnb-menu{
  color: #000000;
  font-family: var(--inter-16-bold-black-font-family);
  font-size: var(--inter-16-bold-black-font-size);
  font-style: var(--inter-16-bold-black-font-style);
  font-weight: var(--inter-16-bold-black-font-weight);
  letter-spacing: var(--inter-16-bold-black-letter-spacing);
  line-height: var(--inter-16-bold-black-line-height);
}

.gnb-menu a {
  color: #000;
  text-decoration: none;
  transition: color 0.2s;
}

.gnb-menu a:visited {
  color: #000;
  text-decoration: none;
}

.gnb-menu a:active {
  color: #000;
  text-decoration: none;
}

.gnb-menu a:focus {
  color: #000;
  text-decoration: none;
  outline: none;
}

.gnb-menu a.active,
.gnb-menu a:hover {
  color: #455dfe;
  text-decoration: none;
}


