.ProjectSection {
    /*부모로서의 설정*/
    display: flex;
    flex-wrap: wrap; /* 요소들이 줄 바꿈되도록 설정 */
    justify-content: center; /* 가운데 정렬 (선택 사항) */
    gap: 30px; /* 요소들 사이 간격 */
    /*자식의 설정*/
    align-items: center;
    text-align: center;

    /*자신 설정*/
    margin-bottom: 40px;
}

.FullTitle{
    width: 100%;
}

.ProjectSection h1 {
    font-size: 65px;
    font-family: InterVariableFont;
    margin: 0;
}

.ProjectSection p {
    font-size: 15px;
}
