@font-face {
    font-family: "HeadingNowBook";
    src: url("/HeadingNowTrial-63Book.ttf");
}

@font-face {
    font-family: "HeadingNowRegular";
    src: url("/HeadingNowTrial-64Regular.ttf");
}

@font-face {
    font-family: "InterVariableFont";
    src: url("/Inter-VariableFont_opsz,wght.ttf");
}


html, body {
    margin: 0;
    width: 100%;
    font-family: InterVariableFont;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    60% {
        opacity: 1;
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease-out, transform 0.6s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
    animation: fade-in-up 0.8s ease-out;
}
