@font-face {
    font-family: "HeadingNowBook";
    src: url("/HeadingNowTrial-63Book.ttf");
}

@font-face {
    font-family: "HeadingNowRegular";
    src: url("/HeadingNowTrial-64Regular.ttf");
}

@font-face {
    font-family: "InterVariableFont";
    src: url("/Inter-VariableFont_opsz,wght.ttf");
}


html, body {
    margin: 0;
    width: 100%;
    font-family: InterVariableFont;
}
